<div class="jumbotron">
  <div class="container">
    <div class="title">
      <h1>狗的使命</h1>
      <p class="lead"><a class="btn btn-lg btn-danger" href="/products">跟虎子去看看！</a></p>
    </div>
  </div>
</div>

<div id="content-section-1">
  <div class="container">
    <div class="row-1" >
      <div class="col-md-12">
  			<div class="group">
  				<h2>把狗狗当成老师，你准备好了吗？</h2>
  				<div class="short-line"></div>
          <p>那人，那书，那狗，七年就是一辈子，活不明白看看书，看看狗！
          <br>
          我们希望藉由这个网站，能让大家进入狗的世界，看看我们所处的世界，了解我们的人生。
          <br>
           拿着一本书，找个安静的地方，看进去，走出来。
          </p>
          <img src="http://ojjhaj1wp.bkt.clouddn.com/2017-05-24-093005.jpg" alt="search" class="img-thumbnail">
        </div>
      </div>

      <div class="col-md-12" style="background-color: #eeeeee;">
        <div class="group">
          <h2>挑战传统育儿观念，看宝宝如何改变世界</h2>
          <div class="short-line"></div>
        </div>
        <div class="row-1">
          <div class="col-xs-4">
            <%= image_tag("feature1.png") %>
            <br>
            <h3>一次学会爱的旅途</h3>
            <p>在我们的一步步引导下，你会逐渐领悟到，并不是你去教会宝宝如何去感受世界，而是宝宝来教会你，该如何交流情感，如何去表达爱。</p>
          </div>
          <div class="col-xs-4">
            <%= image_tag("feature2.png") %>
            <br>
            <h3>一次发现美的历程</h3>
            <p>在这里我们不是老师，我们是服装设计师，为宝宝设计前卫服装，让宝宝成长在艺术的氛围之中，我们是探险家，用心去探寻宝宝的美丽心灵，让宝宝美的不可方物。</p>
          </div>
          <div class="col-xs-4">
            <%= image_tag("feature3.png") %>
            <br>
            <h3>一次净化心灵的选择</h3>
            <p>伴宝宝成长不仅有助于我们理解思维如何运作，也帮助我们理解人类处境和爱之本质，十年的时间，进行一次关乎“我如何成为我”的心灵洗礼。</p>
          </div>
        </div>
      </div>

  		<div class="col-md-12">
  			<div class="group">
  				<h2>听听她们怎么说</h2>
  				<div class="short-line"></div>
        </div>
        <div class="row-1">
          <div class="col-xs-6">
    				<div class="thumbnail">
    					<div class="img">
    						<%= image_tag("chenxin.png") %>
    					</div>
    					<div class="name">
    						<span>陈忻</span>
    						<p>美国康涅迪格大学心理学博士</p>
    					</div>
    				</div>
    				<div class="talk">
    						养育孩子是我们生命中意义最深远的经历，孩子们确实让我们看到了真理、美和意义。
    				</div>
    			</div>
    			<div class="col-xs-6">
    				<div class="top">
    					<div class="img">
    						<%= image_tag("AlfieKohn.png") %>
    					</div>
    					<div class="name">
    						<span>Alfie Kohn</span>
    						<p>无条件养育作者</p>
    					</div>
    				</div>
    				<div class="talk">
    						这很难，但值得我们全力以赴。
    				</div>
  			  </div>
  			</div>
  		</div>
    </div>
  </div>
</div>

<!-- <section id="company">
  <div class = "container">
    <div class="row">
      <div class="col-xs-3 homepage-collections-item margin-bottom">
        <div class="thumbnail">
          <img src="http://ojjhaj1wp.bkt.clouddn.com/2017-05-23-025305.jpg" alt="search" class = "img-thumbnail">
          <div class="caption">
            <h5>书籍</h5>
          </div>
        </div>
      </div>
      <div class="col-xs-3 homepage-collections-item margin-bottom">
        <div class="thumbnail">
          <img src="http://ojjhaj1wp.bkt.clouddn.com/2017-05-06-dog-1282866_1920.jpg" alt="search" class = "img-thumbnail">
          <div class="caption">
            <h5>电影</h5>
          </div>
        </div>
      </div>
      <div class="col-xs-3 homepage-collections-item margin-bottom">
        <div class="thumbnail">
          <img src="http://ojjhaj1wp.bkt.clouddn.com/2017-05-06-061437.jpg" alt="bid" class = "img-thumbnail">
          <div class="caption">
            <h5>摄影</h5>
          </div>
        </div>
      </div>
      <div class="col-xs-3 homepage-collections-item margin-bottom">
        <div class="thumbnail">
          <img src="http://ojjhaj1wp.bkt.clouddn.com/2017-05-23-SECRET_LIFE_OF_DOGS_11.jpg" alt="heart" class = "img-thumbnail">
          <div class="caption">
            <h5>绘画</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
