<h2> Edit Product </h2>

<%= simple_form_for [:admin, @product] do |f| %>
<div class="row">
  <div class="col-sm-3">
    <% if @product.image.present? %>
      <span>目前商品图</span> <br>
      <%= image_tag(@product.image.thumb.url) %>
    <% end %>
    <%= f.input :image, as: :file %>
    <div>
     <%= select_tag(:category_id, options_for_select(@categories), :prompt => "类别")%>
    </div>
  </div>
  <div class="col-sm-2">
    <%= f.input :title, :label => "标题"%>

    <%= f.input :writer, :label => "作者" %>

    <%= f.input :prees, :label => "出版社" %>

    <%= f.input :subtitle, :label => "副标题" %>

    <%= f.input :translator, :label => "译者" %>
  </div>
  <div class="col-sm-2">
    <%= f.input :quantity, :label => "数量" %>

    <%= f.input :price, :label => "参考价格" %>

    <%= f.input :year, :label => "出版年" %>

    <%= f.input :pages, :label => "页数" %>
  </div>
  <div class="col-sm-5">
    <%= f.input :description, :label => "内容介绍" %>

    <%= f.input :about_author, :label => "作者介绍" %>

    <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>
  </div>
</div>

  <!-- <%= f.input :ISBN, :label => "ISBN" %> -->

<% end %>
