<div class="container" style="margin-top: 50px;">
  <h2> Edit Product </h2>

  <%= simple_form_for [:admin, @product] do |f| %>

    <%= f.input :title, :label => "标题"%>

    <%= f.input :writer, :label => "作者" %>

    <%= f.input :prees, :label => "出版社" %>

    <%= f.input :subtitle, :label => "副标题" %>

    <%= f.input :translator, :label => "译者" %>

    <%= f.input :year, :label => "出版年" %>

    <%= f.input :pages, :label => "页数" %>

    <!-- <%= f.input :ISBN, :label => "ISBN" %> -->

    <%= f.input :quantity, :label => "数量" %>

    <%= f.input :price, :label => "参考价格" %>

    <%= f.input :description, :label => "内容介绍" %>

    <%= f.input :about_author, :label => "作者介绍" %>

    <%= f.select :category_id, @categories %>
    <br>

    <% if @product.image.present? %>
      <span>目前商品图</span> <br>
      <%= image_tag(@product.image.thumb.url) %>
    <% end %>
    <%= f.input :image, as: :file %>

    <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>

  <% end %>
</div>
