<div class="container" style="margin-top: 80px;">
  <div class="col-xs-2">
    <ul class="nav nav-pills nav-stacked">
      <li class="active" role="presentation"><a role="menuitem" tabindex="-1" href="/products">BOOKS</a></li>
      <li role="presentation" class="divider"></li>
      <% Category.all.each do |category| %>
        <li>
          <%= link_to(category.name, products_path(category: category.name)) %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="col-xs-10">
    <div class="panel-body">
      <% @products.each do |product| %>
        <div class=" col-md-3">
          <div data-toggle="modal" data-target="#myModal">
            <%= image_tag(product.image.thumb.url, class: "img-thumbnail") %>
          </div>
          <h4><%= product.title %></h4>
          
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <div class="col-xs-3">
                    <%= link_to product_path(product) do %>
                      <% if product.image.present? %>
                        <%= image_tag(product.image.thumb.url, class: "img-thumbnail") %>
                      <% else %>
                        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "img-thumbnail") %>
                      <% end %>
                    <% end %>
                    <div>作者:   <%= product.writer %></div>
                    <div>出版社: <%= product.prees %></div>
                    <div>副标题: <%= product.subtitle %></div>
                    <div>译者:   <%= product.translator %></div>
                    <div>出版年: <%= product.year %></div>
                    <!-- <div>版次:</div>
                    <div>印次:</div>
                    <div>印数:</div>
                    <div>编与著:</div>
                    <div>参考文献:</div>
                    <div>索引:</div>
                    <div>作者微博:</div>
                    <div>译者微博:</div>
                    <div>出版社微博:</div> -->
                    <div>页数:  <%= product.pages %></div>

                    <div> 数量: <%= product.quantity %></div>
                    <div> 类别: <%= product.category.name %></div>
                  </div>
                  <div class="col-xs-9">
                    <div>
                        <h2 style="margin-bottom: 0px; margin-left: 20px;"><%= product.title %></h2>
                        <h4>内容介绍...</h4>
                        <hr>
                        <p>
                          <%= product.description %>
                        </p>
                    </div>
                    <div >
                        <h4>作者介绍...</h4>
                        <hr>
                        <p>
                          <%= product.about_author %>
                        </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
