<footer class="footer">
  <div class="container">

        <!-- <div class="row">
          <div class="col-md-2 col-xs-4">
            <h4><%= t('th-products') %></h4>
            <ul class="list-unstyled">
              <li><a href="#s"><%= t('link-latest') %></a></li>
              <li><a href="#s"><%= t('link-exclusive') %></a></li>
              <li><a href="#s"><%= t('link-brands') %></a></li>
            </ul>
          </div>
          <div class="col-md-2 col-xs-4">
            <h4><%= t('th-service-info') %></h4>
            <ul class="list-unstyled">
              <li><a href="#s"><%= t('link-shipping') %></a></li>
              <li><a href="#s"><%= t('link-return') %></a></li>
              <li><a href="#s"><%= t('link-faq') %></a></li>
            </ul>
          </div>
          <div class="col-md-2 col-xs-4">
            <h4><%= t('th-about-us') %></h4>
            <ul class="list-unstyled">
              <li><a href="#s"><%= t('link-story') %></a></li>
              <li><a href="#s"><%= t('link-media') %></a></li>
              <li><a href="#s"><%= t('link-contact') %></a></li>
            </ul>
          </div>
          <div class="col-md-6 col-xs-12 footer-box">
            <div>
              <a href="#s"><%= image_tag("link_facebook.png") %></a>
              <a href="#s"><%= image_tag("link_twitter.png") %></a>
              <a href="#s"><%= image_tag("link_google-plus.png") %></a>
              <a href="#s"><%= image_tag("link_instagram.png") %></a>
            </div>
            <div class="footer-content">
              <%= image_tag("logdown.png") %> <a href="http://liubingjie-blog.logdown.com/" target="_blank">http://liubingjie-blog.logdown.com/</a> <br />
              <%= image_tag("jianshu.png") %> <a href="http://liubingjie-blog.logdown.com/" target="_blank">http://liubingjie-blog.logdown.com/</a>
            </div>
          </div>
        </div> -->
          <hr />
          <p>Designed By <a href="http://liubingjie-blog.logdown.com/" target="_blank">LiuBingjie</a> | Copyright ©2017 虎子！</a>

  </div>
</footer>
