<!DOCTYPE html>
<html>
  <head>
    <title>文安驿古镇</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render "common/navbar" %>
      <%= render "common/flashes" %>
      <div class="page-wrap">
        <%= yield %>
      </div>
      <div class="row site-footer">
        <%= render "common/footer" %>
      </div>
    </div>
  </body>
</html>
